@model IEnumerable<HijazCranes.Models.Quote>
@{
    ViewBag.Title = "List Qotations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Qutations</h2>
<p>
    @Html.ActionLink("Make a Qutaion", "Create")
</p>
<table class="table table-light" id="quotes">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Discount</th>
            <th>Total</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Discount) %
                </td>
                <td>
                    @Html.DisplayFor(model => item.Total) $
                </td>
                <td>
                    @Html.DisplayFor(model => item.Created)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Proceed Payment", "Proceed", new {id  = item.Id}, new { @class = "btn btn-success"})
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
    {
    <script>
        $("#quotes").DataTable({
            "responsive": true,
            "aoColumnDefs": [{
                "bSortable": false,
                "search": false,
                "aTargets": [-1, -2]
            }]
        })

        //$("#example1").DataTable({
        //    "responsive": true,
        //    "lengthChange": false,
        //    "autoWidth": false,
        //    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
        //    'aoColumnDefs': [{
        //        'bSortable': false,
        //        'search': false,
        //        'aTargets': [-1, -2] /* 1st one, start by the right */
        //    }]
        //}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    </script>
    }